@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #0d1117;
  padding-top: 100px;
  transition: all .3s;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #222222;
  color: #ffffff;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html{
  scroll-behavior: smooth;
}


::-webkit-scrollbar{
  width: 5px;
  background: rgba(177, 177, 177, 0.694);
}

::-webkit-scrollbar-thumb{
  background: #6d6d6db2;
  border-radius: 50px;
}

#projects-nav::-webkit-scrollbar{
  height: 2px;
  background: rgba(216, 216, 216, 0.694);
}

#projects-nav::-webkit-scrollbar-thumb{
  height: 5px;
  background: #faa000;
}

#imgs::-webkit-scrollbar{
  height: 3px;
  background: rgba(216, 216, 216, 0.694);
}

#imgs::-webkit-scrollbar-thumb{
  height: 5px;
  background: #8f8f8f;
  
}

