@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #F0F0F0;
  padding-top: 100px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html{
  scroll-behavior: smooth;
}


::-webkit-scrollbar{
  width: 5px;
  background: rgba(177, 177, 177, 0.694);
}

::-webkit-scrollbar-thumb{
  background: #6d6d6db2;
  border-radius: 50px;
}